:root {
  --nature-green: #79ac53;
  --midnight-blue: #37395f;
  --am-blue: #2a2a48;
  --white: #f2f2f2;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--midnight-blue);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--nature-green);
}

h1 {
  font-size: 6rem;
  text-align: center;
  -webkit-text-stroke: 3px var(--nature-green);
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

#__next {
  height: 100%;
  min-height: 100vh;
}

a {
  color: var(--nature-green);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
}

.collapsegroup {
  background-color: var(--am-blue);
  border: 3px solid var(--midnight-blue);
}

.collapsegroup .nextui-collapse-subtitle {
  color: var(--nature-green);
}

.collapsegroup .nextui-c-hPzDAx-jBQhgJ-divider-true {
  border-bottom: solid 3px var(--midnight-blue);
}

.collapsegroup h3,
.collapsegroup p {
  color: var(--white) !important;
}

.collapsegroup path {
  stroke: var(--white) !important;
}

.collapsegroup .nextui-radio-point {
  box-shadow: none;
}

.collapsegroup .nextui-radio-point::after {
  border: var(--nature-green) solid 2px;
}

.collapsegroup .nextui-radio--is-hovered .nextui-radio-point::after {
  border: var(--nature-green) solid 5px;
}

.collapsegroup .nextui-radio--checked .nextui-radio-point::after {
  border: var(--nature-green) solid 5px;
}

footer {
  background-color: var(--am-blue);
}

img {
  width: 100%;
  height: 100%;
}

/* NextUI fixes */

.nextui-collapse-content > div {
  padding: 0 0.5rem;
}

/* input fields */
#error {
  color: red;
  border: solid red 2px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }
}
